{% extends "base.html" %}
{% block title %}
	Identification Types
{% endblock %}
{% block content %}

<!-- Form to add Identification type -->
<form method="POST">
	<br/>
	<h3 align="center">Identification Types</h3>
	<div class="form-group">
		<label for="identification-type">Identification</label>
		<input type="identification-type" class="form-control" id="identification-type" name="identification-type" placeholder="Enter new identification type">
	</div>
	<button type="submit" class="btn btn-warning">Add Identification</button>
</form><br/>

<!-- List of Identification types -->
<ul class="list-group list-group-flush" id="notes">
	{% for identification in identifications %}
	<li class="list-group-item">{{ identification.id_type }}
		<!-- Identification deletion -->
    <button type="button" class="close" data-toggle="modal" data-target="#confirm-delete-{{ identification.id }}">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
	{% endfor %}
</ul>

	<!-- ID modals -->
	{% for identification in identifications %}
	<div class="modal fade" id="confirm-delete-{{ identification.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
					<div class="modal-content">
							<div class="modal-header">
								<b>CAUTION!</b>
	            </div>
	            <div class="modal-body">
								Are you sure you want to delete <b>{{ identification.id_type }}</b> as identification type?
							</div>
							<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									<a class="btn btn-danger btn-ok" onClick="deleteIdentification({{ identification.id }})">Delete</a>
							</div>
					</div>
			</div>
	</div>
	{% endfor %}

{% endblock %}
