{% extends "base.html" %}
{% block title %}
	Payment Methods
{% endblock %}
{% block content %}
<form method="POST">
	<br/>
	<h3 align="center">Payment Methods</h3>
	<div class="form-group">
		<label for="payment-type">Type</label>
		<input type="payment-type" class="form-control" id="payment-type" name="payment-type" placeholder="Enter new payment method">
	</div>
	<br/>
	<button type="submit" class="btn btn-warning">Add Payment Method</button>
</form>
<ul class="list-group list-group-flush" id="notes">
	{% for payment in payments %}
	<li class="list-group-item">{{ payment.payment_type }}
    <button type="button" class="close" onClick="deletePayment({{ payment.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
	{% endfor %}
</ul>
{% endblock %}
