{% extends "base.html" %}
{% block title %}
	Service Configuration
{% endblock %}
{% block content %}

<br/><h3 align="center">Service Configuration</h3>
<!-- Service / Sub-service addition forms -->
<div class="row">
	<!-- Service -->
	<div class="container p-3 my-3 border col-sm-5">
		<form method="POST" action="/add-service">
			<div class="form-group">
				<br><h6>Adding a new service?</h6>
				<br><input type="service-type" class="form-control" id="service-type" name="service-type" placeholder="Enter new service name">
			</div>
			<br><button type="submit" class="btn btn-warning">Add Service</button>
		</form>
	</div>
	<!-- Sub-service -->
	<div class="container p-3 my-3 border col-sm-6">
		<form method="POST" action="/add-subservice">
			<div class="form-group">
				<h6>Adding a new subservice?</h6>
				<label for="choose_service">Choose the service to associate it with:</label>
				<select name="choose_service" id="choose_service" class="form-control">
					<option selected value="0">Choose...</option>
					{% for srv_id in srv_dict %}
					<option value="{{ srv_id }}">{{ srv_dict[srv_id] }}</option>
					{% endfor %}
				</select>
				<br/>
				<input type="subservice_name" class="form-control" id="subservice_name" name="subservice_name" placeholder="Enter new subservice name">
			</div>
			<button type="submit" class="btn btn-warning">Add Subservice</button>
		</form>
	</div>
</div>

<br/>

<!-- Services accordion -->
<div id="accordion">
	<!-- Service card -->
	{% for srv_id in subsrv_dict %}
	<div class="card">
		<!-- Card header -->
		<div class="card-header">
			<a class="card-link text-dark" data-toggle="collapse" href="#collapse{{ srv_id }}">
				<b>{{ srv_dict[srv_id] }}</b>
				<!-- Service delete -->
				<!-- <button type="button" class="close" onClick="deleteService({{ srv_id }})"> -->
				<button type="button" class="close" data-href="/delete-serviceX" data-toggle="modal" data-target="#confirm-delete-{{srv_id}}">
					<span class="badge badge-pill badge-danger" aria-hidden="true">Delete</span>
				</button>
			</a>
		</div>
		<div id="collapse{{ srv_id }}" class="collapse" data-parent="#accordion">
			<!-- Subservice card -->
			{% for subsrv_id in subsrv_dict[srv_id] %}
			<div class="card_body list-group-item">
					{{ subsrv_dict[srv_id][subsrv_id] }}
					<!-- Subservice delete -->
			    <!-- <button type="button" class="close" onClick="deleteSubservice({{ subsrv_id }})"> -->
					<button type="button" class="close" data-href="/delete-serviceX" data-toggle="modal" data-target="#confirm-delete-{{subsrv_id}}">
			      <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

{% for srv_id in subsrv_dict %}
	<div class="modal fade" id="confirm-delete-{{srv_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	              <b>CAUTION!</b>
	            </div>
	            <div class="modal-body">
								Are you sure you want to delete <b>{{srv_dict[srv_id]}}</b> and all its associated subservices?
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <a class="btn btn-danger btn-ok" onClick="deleteService({{ srv_id }})">Delete</a>
	            </div>
	        </div>
	    </div>
	</div>
	{% for subsrv_id in subsrv_dict[srv_id] %}
	<div class="modal fade" id="confirm-delete-{{subsrv_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
					<div class="modal-content">
							<div class="modal-header">
								<b>CAUTION!</b>
	            </div>
	            <div class="modal-body">
								Are you sure you want to delete <b>{{subsrv_dict[srv_id][subsrv_id]}}</b> from {{srv_dict[srv_id]}}?
							</div>
							<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									<a class="btn btn-danger btn-ok" onClick="deleteSubservice({{ subsrv_id }})">Delete</a>
							</div>
					</div>
			</div>
	</div>
	{% endfor %}
{% endfor %}

{% endblock %}
