{% extends "base.html" %}
{% block title %}
	Payment Methods
{% endblock %}
{% block content %}
<br/>
<h3 align="center">Transactions History</h3>

<table class="table table-hover">
  <thead class="thead-light text-center">
    <tr>
		<th scope="col">Invoice</th>
		<th scope="col">Date</th>
		<th scope="col">User</th>
      	<th scope="col">Payment Method</th>
      	<th scope="col">Client</th>
		<th scope="col">Account</th>
		<th scope="col">Comments</th>
    </tr>
  </thead>

  <tbody class="text-center">
		{% for transaction in transactions %}
    <tr>
    	<td>#{{transaction[0]}}</td>	<!-- Invoice No -->
		<td>{{transaction[1]}}</td>		<!-- Date -->
		<td>{{transaction[2]}}</td>		<!-- User -->
		<td>{{transaction[3]}}</td>		<!-- Payment -->
		<td>{{transaction[4]}}</td>		<!-- Client -->
		<td>${{transaction[5]}}</td>		<!-- Account -->
		<td>{{transaction[6]}}</td>		<!-- Comments -->
    </tr>
		{% endfor %}
  </tbody>
  
</table>
{% endblock %}
