{% extends "base.html" %}
{% block content %}
<br/>
<h2 align="left">What would you like to register?</h2>
<form method="POST">
<div class="form-row">
	<div class="col-md-5">
		<label for="input_service">Service</label>
		<select name="input_service" id="input_service" class="form-control">
			<option selected>Choose...</option>
			{% for service in services %}
			<option>{{service.type}}</option>
			{% endfor %}
		</select>
		<br/>
	</div>
	<div class="col-md-5 offset-md-1">
		<label for="input_payment">Payment Method</label>
		<select name="input_payment" id="input_payment" class="form-control">
			<option selected>Choose...</option>
			{% for payment in payments %}
			<option>{{payment.type}}</option>
			{% endfor %}
		</select><br/>
	</div>
</div>
	<div class="row">
		<div class="form-group col-md-5">
			<label for="client_name">Client Name</label>
			<input name="client_name" id="client_name" class="form-control"></input><br/>
			<label for="total">Total</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
					<span class="input-group-text">0.00</span>
				</div>
				<input type="text" class="form-control" name="total" id="total" aria-label="Amount (to the nearest dollar)">
			</div>
		</div>
		<div class="form-group col-md-5 offset-md-1">
			<label for="comments">Comments (Optional)</label>
			<textarea name="comments" id="comments" class="form-control"></textarea><br/>
		</div>
	</div>
	<br/>
	<div align="center">
		<button type="submit" class="btn btn-primary">Register Transaction</button>
	</div>
</form>
{% endblock %}
