{% extends "base.html" %}
{% block title %}
	Service Configuration
{% endblock %}
{% block content %}
<form method="POST">
  <br/>
	<h3 align="center">Service Configuration</h3>
	<div class="form-group">
		<label for="service-type">Type</label>
		<input type="service-type" class="form-control" id="service-type" name="service-type" placeholder="Enter new service name">
	</div>
	<br/>
	<button type="submit" class="btn btn-primary">Add Service</button>
</form>
<ul class="list-group list-group-flush" id="notes">
	{% for service in services %}
	<li class="list-group-item">{{ service.service_type }}
    <button type="button" class="close" onClick="deleteService({{ service.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
	{% endfor %}
</ul>
{% endblock %}
