{% extends "base.html" %}
{% block title %}
	Payment Methods
{% endblock %}
{% block content %}
<br/>
<h3 align="center">Transactions History</h3>

<table class="table table-hover">
  <thead>
    <tr>
			<th scope="col">Date</th>
			<th scope="col">User</th>
      <th scope="col">Service</th>
			<th scope="col">Sub-Service</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Client Name</th>
			<th scope="col">Total</th>
			<th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
		{% for transaction in transactions %}
    <tr>
      <td>{{transaction[0]}}</td>
			<td>{{transaction[1]}}</td>
			<td>{{transaction[2]}}</td>
			<td>{{transaction[3]}}</td>
			<td>{{transaction[4]}}</td>
			<td>{{transaction[5]}}</td>
			<td>{{transaction[6]}}</td>
			<td>{{transaction[7]}}</td>
    </tr>
		{% endfor %}
  </tbody>
</table>
{% endblock %}
